body {
    font-family: 'Roboto', sans-serif;
    background-color:#1E2640;
    color: #F3EAC0;
}

header {
    position: center;
    margin: auto;
    background-color: #922C40;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    max-width: 1200px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navButtonList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navButtonList li {
    margin: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #DC9750;
    border-radius: 20px;
    padding: 5px;
}

content {
    max-width: 1200px;
    position: center;
    background-color: #fff;
    text-align: center;

}

.aboutList {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.aboutList li {
    display: inline-block;
    text-decoration: none;

}

.aboutContainer {
    display: flex;
    margin: auto;
    background-color: black;
    max-width: 1200px;
    column-gap: 30px;
}

.aboutContainer div {
    margin: auto;
}

.aboutContainer img {
    width: 400px;
    height: 400px;
}